<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coletaai">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${googleMapsApiKey}" />

        <activity
            android:name=".ui.auth.TelaLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.TelaCadastro"
            android:exported="false">
        </activity>
        <activity android:name=".ui.coleta.TelaColeta"
            android:exported="false">
        </activity>
        <activity android:name=".ui.deposito.TelaDeposito"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.deposito.TelaNovoDeposito"
            android:exported="false">
        </activity>
        <activity android:name=".ui.deposito.TelaDetalhesDeposito"
            android:exported="false"/>
        <activity
            android:name=".ui.deposito.TelaFoto"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>